* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/background.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: white;
  font-family: "Geo", Arial;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.gameboyRenderer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-self: center;
  z-index: 1;
}

.tips {
  position: absolute;
  align-self: flex-end;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  width: 600px;
  height: 540px;

  margin: 20px 0;
  border-top: 20px solid white;
}
