* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/background.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: white;
  font-family: "Geo", Arial;
}

canvas.gameboyRenderer {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  width: 600px;
  height: 540px;

  position: relative;
  left: calc(50% - 300px);
  top: 100px;

  border-top: 20px solid white;
}
